#chat-window {
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
}

#input-send {
  display: flex;
  margin-top: 1rem;
}

.msg {
  padding: 0.5rem;
}
